
{% extends 'auth/authmain.html' %}
{% block content %}
{% load i18n %}
<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="{% url 'home' %}" class="h1"><b>UCA</b>IMS</a>
    </div>
    <div class="card-body">

      <p class="login-box-msg">{% trans "Create new account" %}</p>
      <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
    
        <div class="input-group mb-3">
          {{form.email}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{form.password1}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{form.password2}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <div class="icheck-primary">
              <input type="checkbox" required id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
                {% trans "I agree to the" %} <a href="{% url 'terms' %}">{% trans "terms" %}</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-5">
            <button type="submit" id="register-button" disabled class="btn btn-primary btn-block">{% trans "Register" %}</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <a href="{% url 'login' %}" class="text-center">{% trans "I already have an account" %}</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>


{% block extra_js %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const termsCheckbox = document.getElementById('agreeTerms');
    const registerButton = document.getElementById('register-button');

    termsCheckbox.addEventListener('change', function() {
      if (this.checked) {
        registerButton.disabled = false;
      } else {
        registerButton.disabled = true;
      }
    });
  });
</script>
{% endblock %}




{% endblock %}
